<div class="adl-accessibility-cursor-workaround"></div>
<div class="adl-accessibility adl-accessibility-collapsed">
    <div class="adl-accessibility-container">
        <div class="adl-accessibility-expand-button">
            @@include('../svgs/expand.svg')
        </div>
        <div class="adl-accessibility-menu">
            <div class="adl-accessibility-close-button">
                @@include('../svgs/close.svg')                
            </div>
            <div class="adl-accessibility-menu-button adl-accessibility-zoom-in-button">
                @@include('../svgs/biggerText.svg')
                <span data-lang="zoom-in">Bigger Text</span>
            </div>
            <div class="adl-accessibility-menu-button adl-accessibility-invert-button">
                @@include('../svgs/invert.svg')                
                <span data-lang="invert">invert</span>
            </div>
            <div class="adl-accessibility-menu-button adl-accessibility-cursor-button">
                @@include('../svgs/cursor.svg')
                <span data-lang="bigger-cursor">cursor</span>
            </div>
            <div class="adl-accessibility-menu-button adl-accessibility-brightness-button">
                @@include('../svgs/brightness.svg')                
                <span data-lang="brightness">brightness</span>
            </div>
            <div class="adl-accessibility-menu-button adl-accessibility-contrast-button">
                @@include('../svgs/contrast.svg')
                <span data-lang="contrast">contrast</span>
            </div>
            <div class="adl-accessibility-menu-button adl-accessibility-monochrome-button">
                @@include('../svgs/monochrome.svg')
                <span data-lang="grayscale">grayscale</span>
            </div>
            <div class="adl-accessibility-menu-button adl-accessibility-hidden-image-button">
                @@include('../svgs/hidden-image.svg')
                <span data-lang="hidden-image">Hidden Image</span>
            </div>
            <div class="adl-accessibility-menu-button adl-accessibility-Highlight-Links-button">
                @@include('../svgs/Highlight-Links.svg')
                <span data-lang="Highlight-Links">Highlight Links</span>
           </div>
            <div class="adl-accessibility-menu-button adl-accessibility-text-align-button">
                @@include('../svgs/Text-align.svg')
                <span data-lang="TextAlign">Text Align</span>
            </div>
            <div class="adl-accessibility-menu-button adl-accessibility-reset-button">
                @@include('../svgs/revert.svg')
                <span data-lang="reset">revert</span>
            </div>
            <div class="adl-accessibility-menu-button adl-accessibility-screen-reader-button">
                @@include('../svgs/Screen-Reader.svg')
                <span data-lang="ScreenReader">Screen Reader</span>
            </div>
            
            <div class="adl-accessibility-menu-button adl-accessibility-bigger-text-button">
                @@include('../svgs/biggerText.svg')
                <span data-lang="biggerText">Bigger Text</span>
            </div>

            <div class="adl-accessibility-menu-button adl-accessibility-text-spacing-button">
                @@include('../svgs/textspacing.svg')
                <span data-lang="textspacing"> Text Spacing</span>
            </div>

            <div class="adl-accessibility-menu-button adl-accessibility-reading-guide-button">
                @@include('../svgs/readingguide.svg')
                <span data-lang="ReadingGuide"> Reading Guide</span>
            </div>
    </div>
</div>