$background-color: #2196F3;
$toggle-button-size: 80px;
$offset: 30px;
$z-index: 10;
$menu-width: 300px;
$menu-height: 500px;

$images-dir: 'images' !default;

.adl-accessibility {
  position: fixed;
  direction: rtl;
  z-index: $z-index;
  right: $offset;
  top: $offset;
  min-width: 300px;
  user-select: none;

  &.adl-accessibility-size-s {
    &.adl-accessibility-collapsed {
      .adl-accessibility-container {
        width: 40px;
        height: 40px;

        .adl-accessibility-expand-button {
          line-height: 40px;
          width: 40px;
          height: 40px;

          svg {
            width: 24px;
            height: 40px;
          }
        }        
      }    
    }
  }

  &.adl-accessibility-size-l {
    &.adl-accessibility-collapsed {
      .adl-accessibility-container {
        width: 160px;
        height: 160px;

        .adl-accessibility-expand-button {
          line-height: 160px;
          width: 160px;
          height: 80px;

          svg {
            width: 80px;
            height: 160px;
          }
        }        
      }    
    }
  }

  &-container {
    overflow: hidden;
    box-sizing: border-box;
    transition: transform 0.2s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-radius 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.137255) 0px 0px 4px 0px, rgba(0, 0, 0, 0.278431) 0px 4px 8px 0px;
  }

  &-zoom {
    transition: zoom 0.3s ease-in-out;
  }

  &-cursor {
    *:hover, * {
      cursor: url("images/White-Cursor.png"), default;
    }

    &-workaround {
      pointer-events: none;
      position: absolute;
      width: 35px;
      height: 50px;
      z-index: 1000;
      background-image: url("images/White-Cursor.png");
    }
  }

  &-highlighted-links {

    .highlighted-link {
      text-decoration: underline !important;
    }

    a,
    a:link,
    a:visited,
    a:hover,
    a:active {
      text-decoration: underline !important;
    }
  }

  $close-button-height: 40px;
  $close-button-width: 40px;
  &-close-button {
    box-sizing: border-box;
    width: $close-button-width;
    height: $close-button-height;
    cursor: pointer;
  }

  &-menu {
    width: $menu-width;
    height: $menu-height;

    $menu-button-height: 105px;
    $menu-button-width: 150px;

    &-button {
      float: right;
      box-sizing: border-box;
      width: $menu-button-width;
      height: $menu-button-height;
      cursor: pointer;
      transition: background-color 0.1s;
      text-align: center;
      position: relative;

      border-radius: 2px;

      &:hover {
        background-color: #f5f5f5;
      }

      span {
        position: absolute;
        display: block;
        width: 100%;
        bottom: 10px;
        font-weight: bold;
        font-size: 17px;        
      }
    }

    &-footer {

      position: absolute;
      bottom: 0;
      width: 100%;
      height: 30px;
      line-height: 30px;
      text-align: center;
      font-family: Consolas, sans-serif;

      background-color: #f8f8f8;
      font-size: 10px;

      a {
        font-weight: bold;
        text-decoration: underline;

        &:link,
        &:visited,
        &:hover,
        &:active {
          color: #000000;
        }

      }
    }
  }

  &-expand-button {
    cursor: pointer;
    position: absolute;
    line-height: $toggle-button-size;
    width: $toggle-button-size;
    height: $toggle-button-size;
    text-align: center;

    svg {
      fill: #fff;
      width: 40px;
      height: $toggle-button-size;
      line-height: $toggle-button-size;

    }
  }

  &.adl-accessibility-expanded {

    .adl-accessibility-container {
      width: $menu-width;
      height: $menu-height;
      border-radius: 2px;
      color: #333;
      background-color: #fff;
      transform: scale(1, 1) translate3d(0, 0, 0);
    }

  }

  &.adl-accessibility-collapsed {

    .adl-accessibility-container {
      width: $toggle-button-size;
      height: $toggle-button-size;
      border-radius: 50%;
      color: white;
      background-color: $background-color;

      &:hover {
        transform: scale(1, 1) translate3d(0, 0, 0);
        box-shadow: rgba(0, 0, 0, 0.145098) 0px 0px 4.72988px 0px, rgba(0, 0, 0, 0.294118) 0px 4.72988px 9.45976px 0px;
      }
    }
  }
}

@media screen and (max-width: 780px) {

  $horizontal-width: 25%;
  $horizontal-height: 10%;
  $vertical-width: 25%;
  $vertical-height: 25%;
  $close-button-height: 0px;
  $toggle-button-width:50px;
  $toggle-button-hight:55px;
  $toggle-button-icon:60px;
  $offset: 0px;
  $z-index: 10;
  $menu-width: 100%;
  $menu-height: 10%;
  .adl-accessibility
  {
    right: $offset;
    top: $offset;
    .adl-accessibility-menu
    {
      height: $horizontal-height;
      width: $menu-width;
    }
    $close-button-height: 0px;
    &.adl-accessibility-expanded {

      .adl-accessibility-container {
        height: $horizontal-height;
        width: $menu-width;
      }
    }

    &-menu {
      $menu-button-width: 110px;
      &-button {

        width: $horizontal-width;
        height: $horizontal-height;

      }
      &-footer {
        display: none !important;
      }
    }
    &-close-button {
      height: $close-button-height;

    }
    &-expand-button {
      cursor: pointer;
      position: absolute;
      line-height: $toggle-button-size;
      width: $toggle-button-width;
      height: $toggle-button-icon;
      text-align: center;

      svg {
        fill: #fff;
        width: 35px;
        height: $toggle-button-icon;
        line-height: $toggle-button-size;

      }
    }
    &.adl-accessibility-expanded {
      position: static;
    }
    &.adl-accessibility-collapsed {
      .adl-accessibility-container {
        width: $toggle-button-width;
        height: $toggle-button-hight;
        border-radius: 50% 0% 0% 50%;
        color: white;
        background-color: $background-color;
      }
    }
  }
}

.new1 {
  align-items: stretch;
  margin: 1em 0;
  height: 2em;
  line-height: 2em;
  color: white;
  background: black;
}